<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraping With Mongoose</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">NY Times Scraper</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://localhost:3000/">Home<span class="sr-only">(current)</span></a></li>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
   <div class="jumbotron">
     <div class="cointainer">
        <h1>New York Times Scraper</h1>
     </div>
  </div>
    <div id="wrapper">
      {{#each articles}}
          <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title" id="{{this._id}}">{{this.title}}</h3>
              <button type="submit" class="btn btn-success comment" data-toggle="modal" id="{{this._id}}" data-target="#myModal">Add Comments</button>
              {{!-- <button class= "btn btn-success comment" type="submit" id="{{this._id}}">Add Comments</button> --}}
              <button class= "btn btn-success unsave" type="submit" id="{{this._id}}">Unsave Article</button>
          </div>
          <div class="panel-body">
              {{this.link}}
          </div>
          </div>
      {{/each}}

      <!-- Trigger the modal with a button -->
{{!-- <button type="button" class="btn btn-suucess comment" data-toggle="modal" data-target="#myModal">Open Modal</button>
 --}}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="exampleTextarea">Enter Note</label>
            <textarea class="form-control" id="addnote" rows="3"></textarea>
        </div>
        <div id="notesection">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class= "btn btn-success addnote" type="submit">Add Note</button>
      </div>
    </div>

  </div>
</div>
{{!-- 
      //       // The title of the article
      // $("#notes").append("<h2>" + data.title + "</h2>");
      // // An input to enter a new title
      // $("#notes").append("<input id='titleinput' name='title' >");
      // // A textarea to add a new note body
      // $("#notes").append("<textarea id='bodyinput' name='body'></textarea>");
      // // A button to submit a new note, with the id of the article saved to it
      // $("#notes").append("<button data-id='" + data._id + "' id='savenote'>Save Comment</button>");
      //  // If there's a note in the article
      // if (data.comments) {
      //   // Place the title of the note in the title input
      //   $("#notes").append(`<h2>${data.comments.title}</h2>`);
      //   // Place the body of the note in the body textarea
      //   $("#notes").append(`<h2>${data.comments.body}</h2>`);
      //   $("#notes").append("<button data-id='" + data._id + "' id='deletenote'>Delete Comment</button>");
      // }
 --}}
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>